//Slick

.slick-dots {
    display: flex;
    list-style: none;
    margin: 0 auto;
    padding: 0;
    height: 17px;
    margin-top: 50px;

    li {
        width: 15px;
        height: 15px;
        border-radius: 50%;
        background-color: $coriander;
        margin-right: 5px;
        cursor: pointer;
        button {
            display: none !important;
        }
    }

    li.slick-active {
        background-color: $mustard-green;
    }
}