@import 'blocks/_variables.scss';
@import 'slick.scss';
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap" rel="stylesheet');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap" rel="stylesheet');
@import 'custom-dropdown.scss';
@import 'blocks/_header.scss';
@import 'blocks/_hero.scss';
@import 'blocks/_projects.scss';
@import 'blocks/_word-slider.scss';
@import 'blocks/_services.scss';
@import 'blocks/_footer.scss';
@import 'blocks/_work-with.scss';
@import 'blocks/_niches.scss';
@import 'blocks/_about-me.scss';

body {
    background-color: white;
}

.sections {
    transition: right 0.8s cubic-bezier(0.77, 0, 0.175, 1);
    position: relative;
    right: 0;
    &.open {
        right: 40%;
        @media (max-width: 800px) {
            right: 50%;
        }
        @media (max-width: 600px) {
            right: 70%;
        }
    }
}

// Slick 

.slick-dots {
    display: flex;
    list-style: none;
    margin: 0 auto;
    padding: 0;
    height: 17px;
    justify-content: center;
    position: relative;

    li {
        width: 12px;
        height: 12px;
        border-radius: 50%;
        background-color: $red;
        margin-right: 8px;
        cursor: pointer;
        &:last-of-type {
            margin-right: 0;
        }
        button {
            display: none !important;
        }

        &:hover {
            outline: 2px solid $redAncora;
            background-color: white;
        }
    }

    li.slick-active {
        background-color: $redAncora;

        &:hover {
            outline: none;
        }
    }
}

