.header {
    padding: 23px 0px 23px 290px;
    @include flexStart($direction: row, $align: center);

    @media (max-width: 1528px) {
        padding: 23px 0px 23px 145px;
    }

    @media (max-width: 1285px) {
        padding: 23px 0px 23px 37px;
    }

    @media (max-width: 1285px) {
        padding: 23px 37px;
        @include spaceBetween($direction: row, $align: center);
    }
    
    .hamburger {
        width: 120px;
        height: 38px;
        cursor: pointer;
        display: none !important;

        @media (max-width: 900px) {
            display: flex !important;
        }

        @media (max-width: 580px) {
            width: 35px;
        } 

        @include flexStart($direction: row, $align: center);
        &__container {
            width: 32px;
            height: 21px;
            @include spaceBetween($direction: column, $align: center);

            .line {
                height: 3px;
                border-radius: 1.5px;
                width: 100%;
                background-color: $shadow;
            }
        }
    }

    svg, li {
        margin-right: 40px;
        cursor: pointer;

        @media (max-width: 1150px) {
            margin-right: 100px;
        }

        @media (max-width: 1095px) {
            margin-right: 80px;
        }

        @media (max-width: 1065px) {
            margin-right: 70px;
        }

        @media (max-width: 975px) {
             margin-right: 50px;
        }

        @media (max-width: 900px) {
            margin-right: 0px;
        }
    }

    nav {
    @media (max-width: 900px) {
        display: none;
    }
        ul{            
        flex-wrap: nowrap;
            li {
                width: 220px;
                height: 24px;
                text-align: center;
        
                @media (max-width: 1150px) {
                    width: auto;
                }
        
                a {
                    color: $mustard-green;
                    font-size: $p-small;
                    text-decoration: none;
                }
            }
        }
    }

    &__button{
        padding: 9px 21px;
        background-color: rgba(201, 206, 177, 0.36);
        cursor: pointer;
        text-decoration: none;
        color: $mustard-green;

        p {
            font-size: $p-light;
            font-family: $alegreyaSans;
            color: $mustard-green;
            line-height: 19px;
            margin: 0;
            text-align: center;
            text-decoration: none;
        }

        @media (max-width: 580px) {
            display: none;
        } 
    }

    &__call-icon {
        display: none;
        @media (max-width: 580px) {
            display: flex;
            justify-content: flex-end;
            align-items: center;
            width: 35px;
            height: 38px;
            cursor: pointer;

            p {
                display: none;
            }
        }    
    }

}

// Hamburger Menu on Click

.mobile-header {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: white;
    z-index: 2;
}

// Header Expanded 


.header[aria-expanded=true] {
    @include spaceBetween($direction: column, $align: flex-start);
    .hamburger {
        div.line:first-child {
            transform: rotate(-45deg);
            width: 28px;
        }
        div.line:nth-child(2) {
            display: none;
        }
        div.line:last-child {
            transform: rotate(45deg);
            width: 28px;
        }
    }

    svg {
        order: 4;
        margin: 0 auto;
        position: relative;
        bottom: 70px;
    }

    nav {
        display: block;
        margin-top: 36px;
        position: absolute;
        top: 120px;

        .nav {
            flex-direction: column;
            align-items: flex-start;
            height: 164px;
            justify-content: space-between;

            a {
                padding: 19px 0;
                margin: 0;
            }

            a::after {
                content: "";
                background-color: $tan;
                position: absolute;
                display: block;
                height: 2px;
                width: 134px;
                margin-top: 21px;
            }
        }
    }

    .header__call-icon {
        svg::after {
            content: ' 😅 ';
            display: inline-block;
            position: absolute;
            cursor: pointer;
            width: 10px;
            height: 10px;
        }

        p {
            display: block;
        }
    }
}