.photo-section {
    height: 946px;
    width: 100%;
    background-position: center center;
    background-size: cover;
    position: relative;
    @media (max-width: 1280px) {
        height: 686px;
    }
    @media (max-width: 768px) {
        height: 470px;
    }

    @media (max-width: 400px) {
        height: 375px;
    }

    &__text {
        background-color: $antique-white-opacity;
        height: 164px;
        width: 392px;
        position: absolute;
        bottom: 136px;
        right: 380px;
        z-index: 1;

        @media (max-width: 1280px) {
            width: 424px;
            height: 145px;
            bottom: 106px;
            right: 94px;
        }

        @media (max-width: 768px) {
            width: 667px;
            height: 119px;
            margin-left: auto;
            margin-right: auto;
            left: 0;
            right: 0;
            bottom: 50px;
            text-align: center;
        }

        @media (max-width: 675px) {
            width: 475px;
        }

        @media (max-width: 400px) {
            width: 335px;
            height: 157px;
        }

        p {
            font-size: $p-small;
            text-align: center;
            margin: 34px 5px;
            line-height: 24px;

            @media (max-width: 1280px) {
                margin: 25px 5px;
            }

            @media (max-width: 400px) {
                margin: 20px 5px;
            }
        }
    }
}