.services {
    position: relative;
    background-color: $antique;
    padding-bottom: 100px;
    overflow: hidden;
    @media (max-width: 1070px) {
        padding-bottom: 250px;
    }
    @media (max-width: 414px) {
        padding-bottom: 350px;
    }
    h2 {
        font-family: $quicksand;
        font-size: 100px;
        padding-top: 180px;
        padding-bottom: 100px;
        position: relative;
        z-index: 0;
        @media (max-width: 1070px) {
            font-size: 70px;
            &::after {
                display: block;
                content: url("data:image/svg+xml,%3Csvg id='Layer_2' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 285.23 103.53'%3E%3Cdefs%3E%3Cstyle%3E .cls-1 %7B fill: %23f9f7f2; stroke: %23c7e9fb; stroke-miterlimit: 10; stroke-width: 6px; %7D %3C/style%3E%3C/defs%3E%3Cg id='Layer_1-2' data-name='Layer_1'%3E%3Cpath class='cls-1' d='M39.88,89.9c8.42.61,16.37-1.04,23.03-4.36,5.73,7.96,17.16,13.87,30.69,14.85,16.85,1.22,31.6-5.6,36.51-15.94,3.56,1.19,7.38,1.97,11.37,2.26,8.41.61,16.36-1.05,23.02-4.36,1.65-.56,3.25-1.23,4.77-1.98,5.38,7.48,16.13,13.03,28.85,13.95,15.84,1.15,29.7-5.26,34.31-14.99,3.35,1.11,6.93,1.85,10.68,2.12,20.35,1.47,37.83-11.12,39.07-28.14s-14.26-32-34.6-33.48c-4.23-.31-8.34,0-12.21.82-7.63-9.56-20.72-16.38-36-17.49-19.36-1.4-36.56,6.78-44.14,19.52-2.86-.79-5.87-1.32-8.99-1.54-4.51-.33-8.87,0-12.99.87-8.12-10.17-22.05-17.43-38.31-18.61-20.84-1.51-39.35,7.42-47.26,21.24-1-.13-2.01-.25-3.03-.32-21.64-1.57-40.25,11.84-41.56,29.94s15.17,34.06,36.81,35.62h0Z'/%3E%3C/g%3E%3C/svg%3E");
                position: absolute;
                height: 140px;
                width: 370px;
                z-index: -1;
                top: 155px;
                left: -40px;
            }
        }
        @media (max-width: 450px) {
            font-size: 50px;
            padding-top: 100px;
            padding-bottom: 180px;
            &::after {
                display: block;
                content: url("data:image/svg+xml,%3Csvg id='Layer_2' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 285.23 103.53'%3E%3Cdefs%3E%3Cstyle%3E .cls-1 %7B fill: %23f9f7f2; stroke: %23c7e9fb; stroke-miterlimit: 10; stroke-width: 6px; %7D %3C/style%3E%3C/defs%3E%3Cg id='Layer_1-2' data-name='Layer_1'%3E%3Cpath class='cls-1' d='M39.88,89.9c8.42.61,16.37-1.04,23.03-4.36,5.73,7.96,17.16,13.87,30.69,14.85,16.85,1.22,31.6-5.6,36.51-15.94,3.56,1.19,7.38,1.97,11.37,2.26,8.41.61,16.36-1.05,23.02-4.36,1.65-.56,3.25-1.23,4.77-1.98,5.38,7.48,16.13,13.03,28.85,13.95,15.84,1.15,29.7-5.26,34.31-14.99,3.35,1.11,6.93,1.85,10.68,2.12,20.35,1.47,37.83-11.12,39.07-28.14s-14.26-32-34.6-33.48c-4.23-.31-8.34,0-12.21.82-7.63-9.56-20.72-16.38-36-17.49-19.36-1.4-36.56,6.78-44.14,19.52-2.86-.79-5.87-1.32-8.99-1.54-4.51-.33-8.87,0-12.99.87-8.12-10.17-22.05-17.43-38.31-18.61-20.84-1.51-39.35,7.42-47.26,21.24-1-.13-2.01-.25-3.03-.32-21.64-1.57-40.25,11.84-41.56,29.94s15.17,34.06,36.81,35.62h0Z'/%3E%3C/g%3E%3C/svg%3E");
                position: absolute;
                height: 140px;
                width: 290px;
                z-index: -1;
                top: 77px;
                left: -40px;
            }
        }
    }
    &__wrapper {
        padding: 0 40px;
        max-width: 1400px;
        margin: 0 auto;
        position: relative;
    }
    &__item {
        height: 350px;
        width: 100%;
        margin-bottom: 100px;
        display: flex;
        justify-content: space-between;
        @media (max-width: 1070px) {
            flex-direction: column;
            align-items: center;
            height: 100%;
            .logo, .text {
                position: relative;
                z-index: 20;
                p, h3 {
                    background-color: $antique;
                }
            }
        }
        &.index-top-logo {
            .logo {
                position: relative;
                z-index: 20;
            }
        }
        &.index-top-text {
            .text {
                position: relative;
                z-index: 20;
                p {
                    background-color: $antique;
                    @media (max-width: 1070px) {
                        width: 100%;
                    }
                }
                h3 {
                    background-color: $antique;
                    width: fit-content;
                    @media (max-width: 1070px) {
                        width: 100%;
                    }
                }
            }
        }
        .logo {
            width: 350px;
            height: 350px;
            border-radius: 50%;
            border: 3px solid $red;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: white;
            @media (max-width: 1070px) {
                width: 250px;
                height: 250px;
            }
            @media (max-width: 480px) {
                width: 200px;
                height: 200px;
            }
            svg {
                width: 220px;
                height: auto;
                overflow: visible;
                @media (max-width: 1070px) {
                    width: 160px;
                }
                @media (max-width: 480px) {
                    width: 130px;
                }
            }
        }
        .text {
            width: 70%;
            padding-left: 100px;
            @media (max-width: 1070px) {
                width: 100%;
                padding-left: 0;
            }
            h3 {
                font-family: $quicksand;
                color: #19171f;
                font-size: 50px;
                margin-bottom: 40px;
                @media (max-width: 1070px) {
                    text-align: center;
                    margin-top: 50px;
                }
                @media (max-width: 768px) {
                    font-size: 40px;
                }
                @media (max-width: 660px) {
                    margin-top: 22px;
                }
                @media (max-width: 450px) {
                    font-size: 30px;
                }
                @media (max-width: 414px) {
                    font-size: 26px;
                }
                @media (max-width: 380px) {
                    font-size: 24px;
                }
            }
            p {
                font-family: $quicksand;
                color: #19171f;
                font-size: 20px;
                @media (max-width: 1070px) {
                    text-align: center;
                }
                @media (max-width: 414px) {
                    font-size: 19px;
                }
                @media (max-width: 380px) {
                    font-size: 18px;
                }
                @media (max-width: 320px) {
                    font-size: 16px;
                }
            }
            strong {
                font-family: $quicksand;
                color: #a6a6a6;
                font-weight: 400;
                font-size: 50px;
                margin-right: 20px;
                @media (max-width: 768px) {
                    font-size: 40px;
                }
                @media (max-width: 450px) {
                    font-size: 30px;
                }
                @media (max-width: 414px) {
                    font-size: 26px;
                }
                @media (max-width: 380px) {
                    font-size: 24px;
                }
            }
        }
        &.right {
            display: flex;
            flex-direction: row-reverse;
            @media (max-width: 1070px) {
                flex-direction: column;
                align-items: center;
                justify-content: center;
            }
            .text {
                padding-right: 100px;
                @media (max-width: 1070px) {
                    padding-right: 0;
                }
                h3, p {
                    @media (max-width: 1070px) {
                        text-align: center;
                        width: 100%;
                    }
                }
            }
        }
    }
    #ballon {
        overflow: visible;
        position: absolute;
        width: 1150px;
        height: 2008px;
        top: 100px;
        left: 200px;
    }
    #svg-services-desktop {
        @media (max-width: 1070px) {
            display: none;
        }
    }
    #ballon-ipad {
        display: none;
        @media (max-width: 1070px) {
            display: block;
            width: 300px;
            top: 135px;
            position: absolute;
            left: 65px;
            overflow: visible;
        }
        @media (max-width: 945px) {
            left: 0px;
        }
        @media (max-width: 800px) {
            left: -45px;
        }
        @media (max-width: 768px) {
            left: -65px;
        }
        @media (max-width: 700px) {
            left: -85px;
        }
        @media (max-width: 660px) {
            left: -105px;
        }
        @media (max-width: 450px) {
            display: none;
        }
    }
    #ballon-iphone {

        display: none;
        @media (max-width: 450px) {
            display: block;
            position: absolute;
            overflow: visible;
            width: 300px;
            top: 200px;
            left: 0px;
        }
        @media (max-width: 414px) {
            left: -15px;
        }
        @media (max-width: 380px) {
            left: -25px;
        }
        @media (max-width: 320px) {
            left: -40px;
        }
    }
}