.two-columns {
    background-color: $pale-silver;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    padding: 78px 270px;
    margin-top: 135px;

    @media (max-width: 1500px) {
        padding: 78px 170px;
    }

    @media (max-width: 1265px) {
        padding: 78px 50px;
    }

    @media (max-width: 680px) {
        flex-direction: column;
        align-items: center;
        padding: 78px 35px;
    }

    h2, p {
        color: white;
        text-align: left;
        @media (max-width: 680px) {
            text-align: center;
        }
    }

    h2 {
        margin-bottom: 30px;
        @media (max-width: 900px) {
            font-size: $h4-size;
        }
    }

    p {
        @media (max-width: 900px) {
            font-size: $p-small;
            line-height: 24px;
        }
    }

    &__column {
        width: 530px;

        @media (max-width: 680px) {
            width: 100%;
        }
    }

    .line {
        width: 1px;
        background-color: $white;
        margin: 0 90px;
        @media (max-width: 900px) {
            margin: 0 54px;
        }
        @media (max-width: 720px) {
            margin: 0 34px;
        }

        @media (max-width: 680px) {
            width: 80%;
            height: 1px;
            margin: 0 auto;
            margin-top: 40px;
            margin-bottom: 40px;
        }
    }

    div.line:last-child {
        display: none;
    }

}