// Font Families //

$quicksand: 'Quicksand', sans-serif;

// Colors Palette //

//primary 

$red: #88202d;
$redAncora: #4a010a;
$green: #d7dd63;
$brown: #ca9b69;
$light-gray: #d3d3d7;
$gold: #eede90;
$antique: #f9f7f2;
$white: #FFFFFF;
$gray: #8B8B8B;


//secondary

//mixins

@mixin flexCenter($direction) {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: $direction;
}

@mixin spaceBetween($direction, $align) {
    display: flex;
    align-items: $align;
    justify-content: space-between;
    flex-direction: $direction;
}

@mixin spaceAround($direction, $align) {
    display: flex;
    align-items: $align;
    justify-content: space-around;
    flex-direction: $direction;
}

@mixin flexStart($direction, $align) {
    display: flex;
    align-items: $align;
    justify-content: flex-start;
    flex-direction: $direction;
}

// Breakpoints

$desktop: 1024px;
$tablet: 768px;
$mobile: 450px;
$smaller-screen: 320px;
